@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

html {
  background-color: #30cfd0;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  height: auto;
  font-family: "Squada One", sans-serif;
}

.container {
  display: flex;
  max-width: 900px;
  margin: 3rem auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

button {
  border: none;
  border-radius: 10px;
  background-color: #edf5e1;
  color: #5cdb95;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #379683;
  color: whitesmoke;
  transition: 0.5s ease-in-out;
}

.print {
  position: absolute;
  width: 25%;
  top: 0;
  margin: 0.5rem;
}

@keyframes animation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

div {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  list-style: none;
  animation-name: animation;
  animation-duration: 1s;
}

.results {
  border: 2px solid black;
  width: 40%;
  margin: 0 auto;
}

.results-container {
  display: flex;
  justify-content: space-between;
}

#actual-habits {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

/* Navigation */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.social-icons {
  margin: 0.5rem auto;
}
.fa-facebook:hover {
  color: #4267b2;
  cursor: pointer;
}

.fa-instagram:hover {
  color: #e1306c;
  cursor: pointer;
}

.fa-twitter:hover {
  color: #1da1f2;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 

PAGE LOADER

*/

#page-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: none;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 300%;
}

#page-loader img {
  width: 30%;
  margin: 20% auto;
}

@media (max-width: 675px) {
  .container {
    flex-direction: column;
  }
  .results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #page-loader img {
    width: 100%;
    margin: 20rem auto;
  }
  #actual-habits {
    width: auto;
    margin: 1rem auto;
  }
  .grid,
  .print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  footer {
    display: none;
  }
}
